@page
@model ClientsCRUD.Pages.Clients.DeleteModel
@{
}
<h2>刪除客戶</h2>
@if (Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>
            @Model.errorMessage
        </strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>

    </div>
}

<form method="POST">
    <input type="hidden" name="id" value="@Model.cInfo.id" />
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="@Model.cInfo.name"/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="email" value="@Model.cInfo.email"/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Phone</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="phone" value="@Model.cInfo.phone"/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Address</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="address" value="@Model.cInfo.address"/>
        </div>
    </div>

    @if (Model.succMessage.Length > 0)
    {
        <div class='alert alert-warning alert-dismissible fade show' role='alert'>
            <strong> @Model.succMessage</strong>
            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Delete</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" asp-page="/Clients/Index" role="button">Cancel</a>
        </div>
    </div>
</form>