@page
@model ClientsCRUD.Pages.Member.IndexModel
@{
    ViewData["Title"] = "維清會員資料";
}

<h2>活動清單</h2>
<div>
    <a href='/Member/memCreate'>[新增]</a>
    <form method="GET">
        <div class="row mb-1">
            <div class="col-sm-2">
                <input type="text" class="form-control" name="Qry" value="" />
            </div>
            <div class="col-sm-2 d-grid">
                <button type="submit" class="btn btn-primary">查詢</button>
            </div>
        </div>
    </form>
</div>
@if (Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>
            @Model.errorMessage
        </strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>

    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>會員編號</th>
            <th>會員名稱</th>
            <th>會員電話</th>
            <th>會員Email</th>
            <th>會員備註</th>
            <!--
    <th>開始時間</th>
    <th>結束時間</th>
    -->
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.listMem)
        {
            <tr>
                <td>@item.memID</td>
                <td>@item.memName</td>
                <td>@item.memPhone</td>
                <td>@item.memEmail</td>
                <td>@item.memRemark</td>
                <!--
    <td>@item.mDate</td>
    -->
                <td>
                    <a class="btn btn-primary btn-sm" href="/Act/actEdit?id=@item.memID">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Act/actDelete?id=@item.memID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p> 總共有 @Model.records 筆資料, 其中符合查詢條件的有 @Model.listMem.Count 筆。 </p>


